@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<script src="~/Scripts/Admin/productos.js"></script>

<div id="wrapper">
  <div class="content">
	<div class="row">
	  <div class="col-md-12">
			<div class="panel_s">
			  <div class="panel-body">
			  	<h2 class="pull-left">@ViewData["Message"]</h2>
				<i class="fa fa-remove pull-right"></i>
			  </div>
			</div>

			<div class="panel_s">
				<div class="panel-body">
					<div id="window_productos" style="">
						<form>
							<input type="hidden" name="ProductoId" value="0"/>
							<div class="panel_s _container" style="width:100%; min-height:100px;">
								<div class="row">
									<div class="col-md-4">
										<label for="Nombre" class="control-label">Nombre</label>
										<input type="text" name="Nombre" class="form-control" required validationMessage="* Ingresa el Nombre" >
									</div>
									<div class="col-md-4">
										<label for="Codigo" class="control-label">Código</label>
										<input type="text" name="Codigo" class="form-control" required validationMessage="* Ingresa el Código" >
									</div>
									<div class="col-md-4">
										<label for="CodigoBarras" class="control-label">Código de Barras</label>
										<input type="text" name="CodigoBarras" class="form-control" required validationMessage="* Ingresa el Código de Barras" >
									</div>
								</div>	
								<div class="row">
									<div class="col-md-4">
										<label for="ProveedorId" class="control-label">Proveedor</label>
										<input type="text" name="ProveedorId" class="form-control" required validationMessage="* Ingresa el Proveedor" >
									</div>
									<div class="col-md-4">
										<label for="TipoProductoId" class="control-label">Tipo de Producto</label>
										<input type="text" name="TipoProductoId" class="form-control" required validationMessage="* Ingresa el Tipo de Producto" >
									</div>
									<div class="col-md-4">
										<label for="CategoriaId" class="control-label">Categoría</label>
										<input type="text" name="CategoriaId" class="form-control" required validationMessage="* Ingresa la Categoría" >
									</div>
								</div>	
								<div class="row">
									<div class="col-md-4">
										<label for="SubCategoriaId" class="control-label">Sub Categoría</label>
										<input type="text" name="SubCategoriaId" class="form-control" required validationMessage="* Ingresa la Sub Categoría" >
									</div>
									<div class="col-md-4">
										<label for="PrecioCompra" class="control-label">Precio de Compra</label>
										<input type="text" name="PrecioCompra" class="form-control" required validationMessage="* Ingresa el Precio de Compra" >
									</div>
									<div class="col-md-4">
										<label for="PrecioFinal" class="control-label">Precio Final</label>
										<input type="text" name="PrecioFinal" class="form-control" required validationMessage="* Ingresa el Precio Final" >
									</div>
								</div>	
								<div class="row">
									<div class="col-md-4">
										<label for="Existencias" class="control-label">Existencias</label>
										<input type="text" name="Existencias" class="form-control" required validationMessage="* Ingresa las Existencias" >
									</div>
									<div class="col-md-4">
										<label for="Impuesto" class="control-label">Impuesto</label>
										<input type="text" name="Impuesto" class="form-control" required validationMessage="* Ingresa el Impuesto" >
									</div>
									<div class="col-md-4">
										<label for="VistoEnFacturacion" class="control-label">Visto En Facturacion</label>
										<input type="text" name="VistoEnFacturacion" class="form-control" required validationMessage="* Ingresa si es Visto En Facturacion" >
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-info">Enviar</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="panel_s">
				<div class="panel-body">
					
				</div>
			</div>
		</div>
	</div>
  </div>
</div>



