@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<script src="~/Scripts/Admin/servicios.js"></script>
<div id="wrapper">
  <div class="content">
	<div class="row">
	  <div class="col-md-12">
			<div class="panel_s">
			  <div class="panel-body">
			  	<h2 class="pull-left">@ViewData["Message"]</h2>
				<i class="fa fa-remove pull-right"></i>
			  </div>
			</div>

			<div class="panel_s">
				<div class="panel-body">
					<div id="window_servicios" style="">
						<form>
							<input type="hidden" name="ServicioId" value="0"/>
							<div class="panel_s _container" style="width:100%; min-height:100px;">
								<div class="row">
									<div class="col-md-4">
										<label for="FamiliaId" class="control-label">Familia</label>
										<input type="text" name="FamiliaId" class="form-control" required validationMessage="* Ingresa la Familia" >
									</div>

									<div class="col-md-4">
										<label for="DisponibleEnCitas" class="control-label">Disponible En Citas</label>
										<input type="text" name="DisponibleEnCitas" class="form-control" required validationMessage="* Ingresa si es Disponible En Citas" >
									</div>
								</div>	
								<div class="row">
									<div class="col-md-4">
										<label for="Precio" class="control-label">Precio</label>
										<input type="text" name="Precio" class="form-control" required validationMessage="* Ingresa el Precio" >
									</div>
									<div class="col-md-4">
										<label for="TiempoDuracionMin" class="control-label">Tiempo Duracion (Minutos)</label>
										<input type="text" name="TiempoDuracionMin" class="form-control" required validationMessage="* Ingresa el Tiempo Duracion (Minutos)" >
									</div>
								</div>	
								<div class="row">
									<div class="col-md-4">
										<label for="Impuesto" class="control-label">Impuesto</label>
										<input type="text" name="Impuesto" class="form-control" required validationMessage="* Ingresa el Impuesto" >
									</div>
									<div class="col-md-4">
										<label for="Costo" class="control-label">Costo</label>
										<input type="text" name="Costo" class="form-control" required validationMessage="* Ingresa el Costo" >
									</div>
								</div>	
								<div class="row">
									<div class="col-md-4">
										<label for="Detalle" class="control-label">Detalle</label>
										<input type="text" name="Detalle" class="form-control" required validationMessage="* Ingresa el Detalle" >
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-info">Enviar</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="panel_s">
				<div class="panel-body">
					
				</div>
			</div>
		</div>
	</div>
  </div>
</div>



