@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<script src="~/Scripts/Admin/clientes.js"></script>
<div id="wrapper">
  <div class="content">
	<div class="row">
	  <div class="col-md-12">
			<div class="panel_s">
			  <div class="panel-body _buttons">
			  	<h2 class="pull-left">@ViewData["Message"]</h2>
				<a href="/Clientes/Item" id="btn_add_clientes" class=" pull-right" ><i class="fa fa-plus"></i></a>
			  	<a href="/Admin/Default/" class="pull-right"><i class="fa fa-remove"></i></a>
			  </div>
			</div>
			<div class="panel_s">
				<div class="panel-body">
					<div class="clearfix"></div>
					<div id="grid_clientes" ></div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>