@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<script src="~/Scripts/Admin/certificados.js"></script>
<div id="wrapper">
  <div class="content">
	<div class="row">
	  <div class="col-md-12">
			<div class="panel_s">
			  <div class="panel-body">
			  	<h2 class="pull-left">@ViewData["Message"]</h2>
				<i class="fa fa-remove pull-right"></i>
			  </div>
			</div>

			<div class="panel_s">
				<div class="panel-body">
					<div id="window_certificados" style="">
						<form>
							<input type="hidden" name="CertificadoId" value="0"/>
							<div class="panel_s _container" style="width:100%; min-height:100px;">
								<div class="row">
									<div class="col-md-4">
										<label for="RutaCertificado" class="control-label">Ruta del Certificado</label>
										<input type="text" name="RutaCertificado" class="form-control" required validationMessage="* Ingresa la Ruta del Certificado" >
									</div>
									<div class="col-md-4">
										<label for="Status" class="control-label">Status</label>
										<input type="text" name="Status" class="form-control" required validationMessage="* Ingresa el Status" >
									</div>
									<div class="col-md-4">
										<label for="ClaveArchivo" class="control-label">Clave del Archivo</label>
										<input type="text" name="ClaveArchivo" class="form-control" required validationMessage="* Ingresa la Clave del Archivo" >
									</div>
								</div>	
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-info">Enviar</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="panel_s">
				<div class="panel-body">
					
				</div>
			</div>
		</div>
	</div>
  </div>
</div>



