
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="default" class="content">
    <div class="panel_s" style="">
        <div class="panel-body">
            <div class="row padTop20">
            	<div class="col-md-3">
            		<a href="/Clientes">
            			<i class="fa fa-users" title="Clientes"></i>
            		</a>
        		</div>
        		<div class="col-md-3">
            		<a href="/Productos">
            			<i class="fa fa-check-circle" title="Stock"></i>
            		</a>
        		</div>
        		<div class="col-md-3">
            		<a href="/Personal">
            			<i class="fa fa-user" title="Personal"></i>
            		</a>
        		</div>
        		<div class="col-md-3">
            		<a href="/Servicios">
            			<i class="fa fa-handshake-o" title="Servicios"></i>
            		</a>
        		</div>
        	</div>

        	<div class="row padTop20">
            	<div class="col-md-3">
            		<a href="/Proveedores">
            			<i class="fa fa-archive" title="Proveedores"></i>
            		</a>
        		</div>
        		<div class="col-md-3">
            		<a href="/Facturacion">
            			<i class="fa fa-archive" title="Facturacion"></i>
            		</a>
        		</div>
        		<div class="col-md-3">
            		<a href="/Citas">
            			<i class="fa fa-adress-book" title="Citas"></i>
            		</a>
        		</div>
        		<div class="col-md-3">
            		&nbsp;
        		</div>
        	</div>
        </div>
    </div>
</div>

