
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="default" class="content">
    <div class="panel_s" style="">
        <div class="panel-body">
            <div class="row padTop20">
            	<div class="col-md-3">
            		<a href="/ArchivoXml">
            			<i class="fa fa-file-archive-o" title="Archivos Xml"></i>
            		</a>
        		</div>
        		<div class="col-md-3">
            		<a href="/Facturacion">
            			<i class="fa fa-files-o" title="Facturas"></i>
            		</a>
        		</div>
        		<div class="col-md-3">
            		<a href="/Items">
            			<i class="fa fa-archive" title="Items"></i>
            		</a>
        		</div>
        		<div class="col-md-3">
            		<a href="/Certificados">
            			<i class="fa fa-certificate" title="Certificados"></i>
            		</a>
        		</div>
        	</div>

        </div>
    </div>
</div>

