@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<script src="~/Scripts/Admin/citas.js"></script>
<div id="wrapper">
  <div class="content">
	<div class="row">
	  <div class="col-md-12">
			<div class="panel_s _buttons">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-10">
							<div id="grid_citas" ></div>
						</div>
						<div class="col-md-2">
							
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
  </div>
</div>